$primaryColor: #fafcfc;
$secondaryColor: #ebebeb;
$hoverColor: #ddfeff;
$blueColor: #5bcbf2;

$textColor: #0e0e0e;

$mediumSize: 40px;
$largeSize: 60px;

$mediumSizeFont: 15px;
$largeSizeFont: 25px;
$smallSizeFont: 15px;

$fonts: 'Lato', Arial, sans-serif;